<html>
  <head>
    <title> Reset Regnate Password </title>
  </head>
  <body>
    <p>Please use the following link to reset the password on your Regnate account: <a href="{{resetLink}}">link here</a> </p>
  </body>
</html>
