<html>
  <head>
    <title> Verify Regnate Account </title>
  </head>
  <body>
    <p>Please use the following link to verify your account:  <a href="{{verifyLink}}">link here</a> </p>
  </body>
</html>
